.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    background-color: #0C703E;
    color: white;
    font-weight: lighter;
    font-family: "Alexandria" sans-serif;
}

.nav-bar > * {
    display: inline-block;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}

.title {
    font-weight: normal;
    font-size: larger;
}